:root {
    --color-brand--1: #e48900;
    --color-brand--2: #01c711;
    --color-brand--3: #ffffff;
  
    --color-dark--: #26252e;
    --color-dark--2: #a5a5a5;
    --color-light--1: rgb(235, 226, 226);
    --color-light--2: #e7e7e7;
    --color-light--3: rgb(200, 200, 200);
}

body{
    padding:3px;
    display:flex;
    background-color:#000000;
    flex-direction: column;
    width:100%;
    font-family: "Lucida Sans Typewriter";
    font-weight: 700;
}

/*------------------------------------------------------------*/
/*Nav*/
/*------------------------------------------------------------*/

.div-header{
    display: flex;
    background-color: black;
    color:white;
    flex-direction: row;
    justify-content: center;
    padding:15px;
    align-items: center;
    height:35px;
    margin-top:10px;
}
  .main-menu{
    display:none;
  }

  .dropbtn{
    padding-top: 2px;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    align-self:center;
  }

  #btn-menu{
    display:none;
    background-color:rgb(170, 170, 170);
    position:absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;

  }
#btn-menu>li>a:hover {
  background-color: #ddd;
  text-decoration: solid;
}
.drop-down:hover #btn-menu {display: block;}


@media all and (min-width: 725px){
    .div-header{
        display: flex;
        background-color: black;
        color:white;
        justify-content: space-between;
        padding:30px;
        align-items: center;
        width:90%;
        height:35px;
        margin-right:100px;
        margin-left:50px;
        
    }
    
    .div-header>nav.main-menu{
        display: flex;
        justify-content: center;
    }
    .div-header>nav.main-menu>ul{
        display: flex;
        padding-left: 0;
        list-style-type: none;
    }
    .div-header>nav.main-menu>ul>li>a{
        color:white;
        text-decoration: solid;
        margin: 0 100px 0 25px;
    }
    .div-header>nav.main-menu>ul>li:last-child>a {
        margin-right: 0;
      }

    .dropbtn{
      display:none;
    }
  
}


/*------------------------------------------------------------*/
/*Main*/
/*------------------------------------------------------------*/

main{
    position:relative;
    width:100%;
    border: 3px solid black;
    display:flex;
    align-content: space-between;
    justify-content: center; 
    flex-direction: column;
    background-image: url('./Images/6BtzdZqDikFP-black-dark-texture-wall-brick-backgrounds-image.jpg');
    color:white;
}

main > section{
  display:flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.box{
  width:250px;
  height:100%;
  background-color:var(--color-dark--2);
}

/*Slideshow*/


/* Hide the images by default */
.container{
  position: relative;
}

.mySlides {
  display: none
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  align-self: center;
  background-color: var(--color-dark--2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

